@import 'v-tooltip/dist/v-tooltip.css';
@import "vue-toastification/dist/index.css";
@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';

/* Import icons css */
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    min-height: 100%;
    color: #31363F;
    font-family: "poppins";
    font-weight: 400;
}

#app{
    min-height: 100%;
}

.text_tiny{
    font-size: 14px;
}
.text-sm{
    font-size: 13px;
}

/* Hide spin buttons in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Tooltip Styles */
.v-popper__inner{
    padding: 0.3rem 0.9rem !important;
    max-width: 300px !important;
    background-color: #000 !important;
    word-wrap: break-word;
    font-size: 0.7rem !important;
}

.v-popper__arrow-outer{
    display: none !important;
}

.v-popper__popper {
    display: block !important;
    z-index: 999999 !important;
}

/* Custom style for Multiselect */
.multiselect__single{
    font-size: 14px !important;
}

.multiselect__tags{
    border:1px solid #e1e1e1 !important;
}

.multiselect__option--highlight, .multiselect__option--highlight::after, .multiselect__tag{
    background: var(--selectBg, #159C8C) !important;
}

.multiselect__input, .multiselect{
    font-size: 14px !important;
}

.multiselect__tag-icon::after{
    color: #fff !important;
}

.multiselect__input:focus{
    box-shadow: none
}

.multiselect__placeholder{
    color: #1f2937 !important;
}

.multiselect .multiselect__select::before{
    border-width: 0px !important;
}

.custom-css .multiselect__tags, .custom-css .multiselect__single, .custom-css .multiselect__content-wrapper, .custom-css .multiselect__input, .custom-css .multiselect__placeholder{
    background: var(--selectBg, #1F2937) !important;
    color: #fff !important;
}
.custom-css .multiselect__tags{
    border: 1px solid #4B5563 !important;
}

.otp-input-container{
    gap: 20px;
    flex-wrap: wrap;
}
.otp-input {
    width: 45px;
    height: 45px;
    padding: 5px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}
  /* Background colour of an input field with value */
.otp-input.is-complete {
    background-color: #e4e4e4;
}
.otp-input::-webkit-inner-spin-button, .otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.success-bar {
    background: repeating-linear-gradient(to right, rgb(0, 220, 130) 0%, rgb(52, 205, 254) 50%, rgb(0, 71, 225) 100%);
}

.error-bar {
    background: red;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 9999px;
}